@media only screen and (max-width: 600px) {
  body {
    background-size: 280%;
  }
  header form #input_city {
    margin-top: 30px;
    width: 300px;
    height: 30px;
  }
  header form input#show_btn {
    width: 250px;
    margin-bottom: 20px;
  }
  .temp,
  .vent,
  .hum,
  .ville {
    height: 200px;
  }
  h1 {
    font-size: 25px;
  }
  #show_temp,
  #show_town,
  #show_hum,
  #show_wind {
    font-size: 25px;
  }
  .col_left,
  .col_right {
    display: flex;
    flex-direction: column;
    width: 175px;
  }
}
